.hidden {
    display: none!important;
}

html {
    background: rgba(255, 166, 0, 0.103);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.screenshot {
    opacity: 0.4;
    margin-bottom: -1em;
}

.screenshot.hidden {
    display: none;
    margin-bottom: 0;
}

#components {
    display: flex;
}

#components.uninitialized {
    display: none;
}

#synth {
    display: inline-block;
    position: relative;
    max-width: 20em;
    padding-top: 1em;
    text-align: center;
    background: #428ad2;
    box-shadow: 11px 11px 3px 1px #ffbf81;
    overflow: hidden;
    border-radius: 1.5em 0 1.5em 0;
    align-self: center;
    justify-self: center;
    flex: 1 1 auto;
    z-index: 1;
}

#device {
    display: inline-block;
    padding: 0 2em 1em;
}

#device.led {
    position: absolute;
    bottom: 2em;
    left: 1em;
    display: block;
    padding: 0;
    width: 7px;
    height: 7px;
    background: red;
    border-radius: 10px;
    z-index: 2;
    box-shadow: 1px 0px 4px inset #ffffffe6, 1px 1px 3px #000c;
}

#device.led.live {
    background:#4ed209;
}

.lfo-info {
    font-variant: small-caps;
    font-family: sans-serif;
    font-size: smaller;
    color: #42e0be;
    text-transform: uppercase;
    display: block;
    margin: 0;
    padding: 0.25em;
    font-weight: bold;
    text-shadow: 1px 1px 0 #ff8181;
}

.lfo-info span {
    border: 1px inset rgba(255,255,255,0.9);
    padding: 0 3px;
    width: 2.5em;
    display: inline-block;
}

.slider label, .knob label {
    font-family: sans-serif;
    font-variant: small-caps;
    text-align: center;
    display: inline-block;
    width: 6em;
    background: #ffa200;
    border-bottom: 1px solid black;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 0 black;
    border-radius: 1em 0 0 0;
}

.key  {
    display: inline-block;
    border: 1px solid grey;
    width: calc(1px + 1em);
    height: 5em;
    padding: 0;
    vertical-align: top;
    box-shadow: 5px 5px 0 #544c4c66;
    line-height: calc(9em - 1px);
    color: #ffffffb0;
    text-shadow: 0px 0px 0px black;
}

.key.white {
    background: white;
}

.key.black {
    background: black;
    margin-left: calc(-0.5em - 1px);
    height: 4em;
    position: relative;
    z-index: 1;
    box-shadow: none;
}

.key.black + .key.white {
    margin-left: -0.5em;
}

.key.pressed {
    background: #00ff42;
}

.drawbars {
    transform: translate(1em, 0em) rotate(90deg);
    display: inline-block;
    width: 18em;
    height: 18em;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.board {
    box-shadow: 0px -1px 13px inset #000;
    background: #928c7e;
    width: 150%;
    padding-bottom: 1em;
    position: relative;
    left: -25%;
}

.notice {
    width: 600px;
    margin: auto;
    text-align: justify;
    font-family: sans-serif;
    margin: 2em;
}

#arranger {
    position: relative;
    z-index: 2;
    min-width: 27rem;
    display: flex;
    background: #428ad2;
    padding: 1em;
    border-radius: 0 1.5em 1.5em 0;
    height: 22em;
    box-shadow: 11px 11px 3px 1px #ffbf81;
    margin-left: 0.5em;
}

#fft {
    position: absolute;
    width: calc(100% - 2em);
    z-index: 0;
    bottom: 4em;
    opacity: 0.6;
    padding: 0 3px;
    border-bottom: 1px solid orange;
}

#fft svg {
    width: 100%;
    height: auto;
}

#fft svg rect {
    fill: #428ad2;
    stroke: #ffbf81;
}

.cells {
    position: relative;
    z-index: 1;
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    height: calc(100% - 2em);
    width: 100%;
}

.cell {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: calc(100% / 17);
    background: rgb(255, 230, 192);
    font-family: monospace;
    font-size: 90%;
    box-shadow: 4px 0px 0px 0px #ffbf81;
    overflow: hidden;
}
.cell select {
    background: inherit;
}

.cell + .cell {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.cell:nth-child(17) {
    border-radius: 0 0.75em 0 0;
}

.cell.active {
    background: rgb(243, 164, 111);
}

.note-info {
    display: inline-block;
    width: 4em;
    background-color: #928b7e;
    color: white;
    text-shadow: 1px 1px 0 black;
    padding-top: 2px;
    text-align: center;
}
.note-info.assign {
    animation: wait-for-input 2s ease-in-out 0s infinite;
    transition: background-color;
}

@keyframes wait-for-input {
    0% { background-color: #080; }
    50% { background-color: #0F0; }
    100% { background-color: #080}
}

.cell-clear {
    float: right;
    position: relative;
    height: 130%;
    margin-top: -3%;
    font-family: Verdana;
    top: -2px;
    font-size: 1em;
    background: inherit;
    border: none;
    text-shadow: 1px 1px 0 white;
    color: #b46624;
    cursor: pointer;
}

.controls {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    text-align: center;
    z-index: 1;
}

.controls label {
    font-family: sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    text-shadow: 1px 1px 0 black, -1px -1px 0 white;
    color: #46a1f9;
    vertical-align: -2px;
    margin: auto 1em;
}

.controls input[type=number] {
    width: 3em;
    font-family: monospace;
    border: none;
    height: 0.8em;
    vertical-align: 2px;
    font-size: 1rem;
    text-align: center;
    background: #5e9ddb;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 0 black;
}

#arranger button, .octave button {
    background: orange;
    border: 1px solid black;
    margin: 2px auto 0;
}

#arranger button:active,
.octave button:active {
    background: rgb(206, 99, 12);
}

button.pattern-add {
    width: 2em;
    display: block;
    margin-top: 1em;
}

.controls button .stop {
    display: block;
    position: relative;
    width: 10px;
    height: 10px;
    background: black;
    margin: 3px 0;
}

.controls button .play {
    display: block;
    position: relative;
    left: 3px;
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border: 5px solid transparent;
    border-left: 5px solid black;
    margin: 3px 0;
    box-shadow: -2px 0 0 0 black;
}

.drumkit {
    z-index: 3;
    background: #428ad2;
    display: inline-block;
    padding: 5px;
    position: absolute;
    top: 2em;
    border-radius: 0 0.5em 0.5em 0;
    left: calc(100% + 1px);
    box-shadow: 11px 11px 3px 1px #ffbf81;
}

.multi-track-sequencer {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin-right: 1em;
}

.multi-track-sequencer.collapsed {
    width: 0em;
    margin-right: 0;
    overflow: hidden;
}

.multi-track-sequencer-ui-toggle {
    background: #928c7e;
    width: calc(1em + 1px);
    position: absolute;
    top: 0;
    right: -0.5em;
    bottom: 0;
    border-radius: 0 10px 10px 0;
    box-shadow: 11px 11px 3px 1px #ffbf81;
    border-left: 1px dotted orange;
    cursor: pointer;
    line-height: 16;
    color: #ccc;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}

.multi-track-sequencer .track {
    background: transparent;
    height: 1em;
    text-align: center;
    color: white;
    display: block;
    white-space: nowrap;
    border-bottom: 1px solid #ffffff75;
}

.multi-track-sequencer .track div {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-color: transparent;
    user-select: none;
}

.multi-track-sequencer .track div.label {
    width: 4em;
    text-align: left;
    user-select: none;
    cursor: pointer;
}

.multi-track-sequencer .track div.label .volume {
    float:right;
    cursor: pointer;
    position: relative;
    top: -4px;
    color: #c2d4ef;
}

.multi-track-sequencer .track div.step {
    cursor: pointer;
    position: relative;
    user-select: none;
}

.multi-track-sequencer .track .step.play {
    background: #16cc25;
}

.multi-track-sequencer .track .step.cut {
    background: transparent;
    border: 0.5em solid red;
    box-sizing: border-box;
    border-right-color: transparent;
    border-bottom-color: transparent;
    margin-left: 1px;
}

.multi-track-sequencer .track .step.cut-and-play {
    background: red;
    border: 0.5em solid #16cc25;
    box-sizing: border-box;
    border-left-color: transparent;
    border-top-color: transparent;
    margin-left: 1px;
}

.multi-track-sequencer .track div.active {
    background:rgba(255,255,255,0.5);
}

.multi-track-sequencer .track > div + div {
    border-left: 1px solid rgba(255,255,255,0.3);
}

.LFO {
    width: 90%;
    margin: auto;
    box-shadow: -1px -1px 1px -1px black, 1px 1px 1px -1px white;
    z-index: 3;
    position: relative;
    margin-top: 0.2em;
    background: hsla(206, 84%, 42%, 1);
}

.LFO.bypass {
    opacity: 0.5;
}

.LFO .toggle {
    position: absolute;
    width: 7px;
    height: 7px;
    background: #5df80a;
    box-shadow: -1px -1px 1px 0px white, 1px 1px 1px 1px black;
    border-radius: 1em;
    top: 3px;
    left: 3px;
    cursor: pointer;
}

.LFO.bypass .toggle {
    background: red;
}

.board .octave {
    position: absolute;
    right: 5em;
    top: 0.51em;
    width: 1.5em;
}

.board .octave button {
    width: 100%;
}

.board .octave button:last-child {
    border-radius: 0 0 0.25em 0;
}