.hidden {
    display: none!important;
}

html {
    background: rgba(255, 166, 0, 0.103);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#components {
    display: flex;
}

#synth {
    display: inline-block;
    position: relative;
    max-width: 20em;
    padding-top: 1em;
    text-align: center;
    background: #428ad2;
    box-shadow: 11px 11px 3px 1px #ffbf81;
    overflow: hidden;
    border-radius: 1.5em 0 1.5em 0;
    align-self: center;
    justify-self: center;
    flex: 1 1 auto;
    z-index: 1;
}

#device {
    display: inline-block;
    padding: 0 2em 1em;
}

#device.led {
    position: absolute;
    bottom: 2em;
    left: 1em;
    display: block;
    padding: 0;
    width: 7px;
    height: 7px;
    background: red;
    border-radius: 10px;
    z-index: 2;
    box-shadow: 1px 0px 4px inset #ffffffe6, 1px 1px 3px #000c;
}

#device.led.live {
    background:#4ed209;
}

.lfo-info {
    font-variant: small-caps;
    font-family: sans-serif;
    font-size: smaller;
    color: #42e0be;
    text-transform: uppercase;
    display: block;
    margin: 0;
    padding: 0.25em;
    font-weight: bold;
    text-shadow: 1px 1px 0 #ff8181;
}

.lfo-info span {
    border: 1px inset rgba(255,255,255,0.9);
    padding: 0 3px;
    width: 2.5em;
    display: inline-block;
}

#synth label {
    font-family: sans-serif;
    font-variant: small-caps;
    text-align: center;
    display: inline-block;
    width: 6em;
    background: #ffa200;
    border-bottom: 1px solid black;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 0 black;
    border-radius: 1em 0 0 0;
}

.key  {
    display: inline-block;
    border: 1px solid grey;
    width: calc(1px + 1em);
    height: 5em;
    padding: 0;
    vertical-align: top;
    box-shadow: 5px 5px 0 #544c4c66;
}

.key.white {
    background: white;
}

.key.black {
    background: black;
    margin-left: calc(-0.5em - 1px);
    height: 4em;
    position: relative;
    z-index: 1;
    box-shadow: none;
}

.key.black + .key.white {
    margin-left: -0.5em;
}

.key.pressed {
    background: #00ff42;
}

.drawbars {
    transform: translate(1em, 0em) rotate(90deg);
    display: inline-block;
    width: 18em;
    height: 18em;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.board {
    box-shadow: 0px -1px 13px inset #000;
    background: #928c7e;
    width: 150%;
    padding-bottom: 1em;
    position: relative;
    left: -25%;
}

.notice {
    width: 600px;
    margin: auto;
    text-align: justify;
    font-family: sans-serif;
    margin: 2em;
}

#arranger {
    position: relative;
    z-index: 2;
    min-width: 25rem;
    display: flex;
    background: #428ad2;
    padding: 1em;
    border-radius: 0 1.5em 1.5em 0;
    height: 22em;
    box-shadow: 11px 11px 3px 1px #ffbf81;
    margin-left: 0.5em;
}

.cells {
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    height: calc(100% - 2em);
    width: 100%;
}

.cell {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 45%;
    height: calc(100% / 17);
    background: rgb(255, 230, 192);
    font-family: monospace;
    font-size: 90%;
    box-shadow: 4px 0px 0px 0px #ffbf81;
    overflow: hidden;
}

.cell + .cell {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.cell:nth-child(17) {
    border-radius: 0 0.75em 0 0;
}

.cell.active {
    background: rgb(255, 192, 192);
    box-shadow: 4px 0px 0px 0px rgb(172, 65, 65);
}

.cell:nth-child(4n + 1).active {
    background: rgb(138, 193, 255);
    box-shadow: 4px 0px 0px 0px rgb(172, 65, 65);
}

.note-info {
    display: inline-block;
    width: 4em;
    background-color: #928b7e;
    color: white;
    text-shadow: 1px 1px 0 black;
    padding-top: 2px;
    text-align: center;
}
.note-info.assign {
    border: 2px solid black;
    border-width: 2px 0;
    box-sizing: border-box;
    animation: wait-for-input 2s ease-in-out 0s infinite;
}

@keyframes wait-for-input {
    0% { border-color: #080; }
    50% { border-color: #0F0; }
    100% { border-color: #080}
}

.cell-clear {
    float: right;
    position: relative;
    height: 130%;
    width: 1.5em;
    margin-top: -3%;
    font-family: Verdana;
    top: 2px;
    font-size: 1em;
    background: inherit;
    border: none;
    text-shadow: 1px 1px 0 white;
    color: #b46624;
    cursor: pointer;
}

.controls {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    text-align: center;
}

.controls label {
    font-family: sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    text-shadow: 1px 1px 0 black, -1px -1px 0 white;
    color: #46a1f9;
    vertical-align: -2px;
    margin: auto 1em;
}

.controls input[type=number] {
    width: 3em;
    font-family: monospace;
    border: none;
    height: 0.8em;
    vertical-align: 2px;
    font-size: 1rem;
    text-align: center;
    background: #5e9ddb;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 0 black;
}

.controls button {
    background: orange;
    border: 1px solid black;
    margin: 2px;
}